.book-image {
    width: 100%;
    height: auto;
    object-fit: contain; 
    margin: 10px; 
}

.rating {
font-size: 30px;
}

a:hover .card-text-title {
    text-decoration: underline;
}

a:hover .book-card-img {
    transform: scale(1.05);
    transition: transform .4s;
}

#bookScroll {
display: flex;
overflow-x: hidden;
}

@media (max-width: 834px) {
    #bookScroll {
        overflow-x: auto;
        white-space: nowrap;
    }

    button.arrow-btn {
        display: none;
    }
}

.arrow-btn {
    font-size: 24px;
    border: 2px solid black;
    background-color: white;
    color: black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.arrow-btn:hover {
    background-color: rgba(128, 128, 128, 0.2); 
}

.star {
    cursor: pointer;
}

.star::before {
    content: '✰';
}

.star:hover::before,
.star.active::before {
    content: '★';
    color: orange;
}           