<style>
    .backButton {
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;
    }

    .form-container {
        text-align: center;
    }

    .form-control {
        margin:0 auto;
        margin-bottom: 20px;
        display: block;
        width: 90%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .saveButton {
        margin:0 auto;
        background-color: blue;
        color: white;
        width: 150px;
        height: 50px;
    }
</style>

<a href="{% url 'userProfile:show_user_profile' %}">
    <button class="backButton">
        <img src="https://github.com/A-05-PBP-A/Bookverse/assets/137851158/9b083068-c703-448b-b794-98c795d4b1ed" alt="back">
    </button>
</a>

<div class="form-container">
    <form method="POST" action="{% url 'userProfile:change_password' %}"></form>
            {% csrf_token %}
            <button class="changePasswordButton" type="submit">Change Password</button>
            <br>

            <label class="warning" for="saveButton">Please save before you leave or any changes will not be saved</label>
            <br>
            <button id="saveButtonPassword" class="saveButton" type="submit">Save changes</button>
    </form>
</div>